{% extends 'pinterest/base.html' %}
{% block title %}
<title>Welcome to Pixy-Arts/About</title>
    {% endblock title %}

{% block content %}
  <div class="container my-5">
      <h3 class="text-danger my-3 Home">About Us</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam assumenda incidunt, in libero reprehenderit consectetur rem earum voluptatem itaque id! Aut labore dolorem quo? Corporis, quas rerum? Voluptatum laboriosam, obcaecati atque sint maiores nulla nihil accusamus quod exercitationem nesciunt excepturi consectetur reiciendis enim? Odit eligendi exercitationem asperiores placeat tempora consequatur vel quaerat quasi, magnam at rem et, laboriosam neque beatae impedit voluptatum provident totam eaque quam voluptate suscipit a! Aut quas est consequatur voluptas at? Amet omnis culpa nisi blanditiis sapiente. Similique, amet nihil. Unde odio molestiae beatae eos iusto cumque ratione? Molestiae rerum repudiandae cumque tempore consequatur, rem eaque.</p>
  </div>
   {% endblock content %}