<div class="navbar bg-danger fixed-bottom" id="lastbar">
    <a href="{% url 'feeds' %}" class="nav-link text-white" title="feeds"><i class="fab fa-pinterest fa-2x"></i>
    <a href="{% url 'userprofile' %}" class="nav-link text-white" title="edit profile"><i class="fas fa-user-circle fa-2x"></i></a>
    <a href="{% url 'youruploads' %}" class="nav-link text-white" title="Your uploads"><i class="fas fa-cloud-upload-alt fa-2x"></i></a>
    <a href="{% url 'logout' %}" class="nav-link text-white" title="logout"><i class="fas fa-sign-out-alt fa-2x"></i></a>
  </div>